html, body {
    height: 100%;
    background-size: cover;
    background: url(img/puzzle-1261138.jpg) center;
}
.fullscreen {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.buttonRow {
    position: absolute;
    bottom: 10px;
    width: 100%;
}
#cameraButton {
    cursor: pointer;
}
#cameraButton.disabled {
    cursor: not-allowed;
}
#camera {
    display: none;
}

.group.btn {
    float: left;
    margin: 10px;
    cursor: pointer;
    width: 100px;
    height: 100px;
    line-height: 98px;
    padding: 0;
    font-size: 30px;
}