.idea/
node_modules/

/vendor/
.phpunit.result.cache
.php-cs-fixer.cache

resources/cache/*

resources/Fixtures/Set/*/piece*_*
!resources/Fixtures/Set/*/piece*_color.jpg
resources/Fixtures/Set/*/solution*.html
resources/Fixtures/Set/*/corner_points.json
