parameters:
    level: 8
    paths:
        - ./src
    ignoreErrors:
        - '#jsonSerialize\(\) return type has no value type specified in iterable type array\.#'
includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon